body {
    background-color: rgb(174,192,206);
}

#input-box {
    position: fixed;

    display: flex;

    justify-content: space-between;
    align-items: center;

    bottom: 0;
    width: 100vw;

    padding: 3vw 3vw;

    background-color: white;
}

form {
    display: flex;

    align-items: center;

    border: 1px solid rgb(190, 181, 181);
    border-radius: .6em;

    width: 85vw;

    background-color: rgb(249,248,248);
}

input {
    height: 8vw;
    width: 70vw;

    border: none;

    background-color: rgb(249,248,248);
}

.avatar {
    width: 10vw;
    height: 10vw;
}

#input-box img{
    width: 5vw;
    height: 5vw;

    margin: 0 1vw;
}

h2 {
    font-size: 3.5vw;
    font-weight: 400;
    color: rgb(110, 109, 109);
}

.time {
    display: block;

    align-self: end;

    width: 22vw;
    color: rgb(110, 109, 109);
}

#conversation li {
    display: flex;

    gap: .5em;

    padding: 3vw 2.5vw;
}

#conversation div p {
    display: block;

    border-radius: .7em;

    padding: .5em;
    background-color: white;
}
